* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*some basic formatting*/
h1, h2, header > p {
    padding: 1rem;
}

p {
    color: #000000;
    font-family: "Roboto Serif", sans-serif;
}

#paletteContainer {
    display: flex;
    flex-direction: column;
    min-width: auto;
    min-height: auto;
    font-family: "Ubuntu", sans-serif;
    background-color: #7ab8f7;
}

/* nav bar
#navBar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

.navList {
    float: right
}

.navList a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 1rem;
    margin: 0;
}

a:hover {
    background-color: #ffffff;
    color: #000000;
} */

#paletteBox {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
}

#colorsBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #53a5f7;
    justify-items: center;
    border-radius: 6px;
}

.colors {
    margin: 0.5rem;
    background-color: #000000;
    border-radius: 6px;
    height: 7rem;
    width: 5rem;
}

button {
    color: #ffffff;
    font-size: 0.85rem;
    font-family: "Roboto Serif", sans-serif;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border: none;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #colorsBox {
        display: flex;
        flex-direction: column;
    }
    .colors, button {
        width: 98%;
        margin: 0.1rem;
    }
}

button > p {
    color:#ffffff;
    font-size: 0.85rem;
}

button:hover {
    background-color: #583030;
    cursor: pointer;
}

#copyToClipboard {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0.5rem;
}

#newPalette {
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #7ab8f7;
    margin-top: 1rem;
}

/* Color Gradient Generator */
#gradientContainer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-width: auto;
    min-height: auto;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#backgroundGradientText {
    padding: 2rem;
    margin: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
}

#textGradientText {
    padding: 2rem;
    margin: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    text-transform: strong;
    background-image: linear-gradient(to right, #0000ff, #0ff000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

